.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  width: 100%;
  background-color: var(--nav-background);
  position: fixed;
  top:0;
  z-index: 999999;
  box-shadow: 5px 0 10px 1px var(--box-shadow);
}
.nav .logo img{
  width: 45px;
}
.links{
  display: flex;
  gap: 23px;
}
.links a{
  position: relative;
  transition: all 0.2s;
  
}
.links a:hover{
  color: var(--second-color);
}
.links >   a::after{
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0px;
  width: 100%;
  height: 5px;
  background: var(--second-color);
  transform: scaleX(0);
  transition: all 0.4s ease;
  transform-origin: center;
}
.links a:hover::after{
  transform: scaleX(1);
  transform-origin:  center;
  transition-duration: 0.4s;
}
.links .dropdown-parent{
  display: flex;
  align-items: center;
  gap: 5px;
  padding-bottom: 3px;
}
.links .dropdown-parent svg{
  color: var(--second-color);
  font-size: 18px;
}
.dropdown{
  background-color: var(--semi-black);
  z-index: 999;
  position: absolute;
  width: 180px;
  top: 25px;
  display: none;
padding: 20px;
z-index: 99999 !important;
}
.links .dropdown-parent:hover .dropdown{
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 99999 !important;

}
.dropdown li a {
  color: var(--gray-color);
  transition: all 0.2s;
  z-index: 99999 !important;

}
.dropdown li a:hover{
  color: var(--nav-background);
}
.bars{
  cursor: pointer;
  font-size: 25px;
  display: none;
}
.close{
  cursor: pointer;
  font-size: 35px;
  z-index: 555;
  color: var(--color-white);
  position: absolute;
  right: 50px;
}

/* dark mode */

.dark{
  cursor: pointer;
  font-size: 22px;
}
.light{
  cursor: pointer;
  font-size: 22px;
  color: white;
}
.absolute-icon{
  position: absolute;
  right: 8%;
  top: 53%;
  transform: translateY(-50%);
}
/* queries */

@media (max-width:970px) {
  .links{
    display: none;
  }
  .active-menu{
    display: flex !important;
  }
  .bars{
    display: block !important;
  }
  .links{

  }
  .hide{
    display: none;
  }
  .mobile-links{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow-x: hidden;
    top: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
gap: 40px;
  }
  .mobile-links a{
    color: #337ab7;
    z-index: 500;
    font-size: 22px;
    font-weight: 600;
  }
}